<footer class="container">
    <hr class="soften">
    <p> <a href="https://petrovs.info/index.xml" alt="Atom Feed" target="_BLANK">
        <img src="atom.gif"></a>
         &nbsp; &nbsp; &copy; <span id="thisyear">2020</span> <a href="/copyrights/">Site Copyrights</a></p>
    <p class="text-center">
        <!-- <a href="https://social.petrovs.info/@blagovest">Mastodon</a> -->
        <!-- <a href="https://www.linkedin.com/in/blpetrov/">Linkedin</a> -->
        <!-- <a href="https://github.com/eniac111">GitHub</a> -->
        <!-- <a href="https://code.petrovs.info/explore/repos">Code</a> -->
    </p>
</footer>

