{{/* Atomic rocket for the Atom feed link. Solid shapes use currentColor, so it follows the link colour. */}}
<svg class="glyph glyph--rocket" viewBox="0 0 24 24" aria-hidden="true">
  <defs>
    <mask id="rocket-ring-gap" maskUnits="userSpaceOnUse" x="-4" y="-4" width="32" height="32">
      <rect x="-4" y="-4" width="32" height="32" fill="#fff"/>
      <path d="M3.6 8.6a8.4 2.5 0 0 0 16.8 0" fill="none" stroke="#000" stroke-width="2.8"/>
    </mask>
  </defs>
  <g transform="rotate(42 12 12)">
    <path class="ring" d="M3.6 8.6a8.4 2.5 0 0 1 16.8 0"/>
    <g mask="url(#rocket-ring-gap)">
      <path fill-rule="evenodd" d="M12 .4c3 2.5 4.2 7.1 3.4 16.1H8.6C7.8 7.5 9 2.9 12 .4zM13.3 5.6a1.3 1.3 0 1 0-2.6 0 1.3 1.3 0 1 0 2.6 0z"/>
      <path d="M8.7 10.6C6.3 12.3 5 15.4 5.3 20.8l3.6-3.3zM15.3 10.6c2.4 1.7 3.7 4.8 3.4 10.2l-3.6-3.3zM11.35 14h1.3v7.6h-1.3z"/>
    </g>
    <path class="ring" d="M3.6 8.6a8.4 2.5 0 0 0 16.8 0"/>
    <circle cx="20.4" cy="8.6" r="1.35"/>
  </g>
</svg>
