<p>
  Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }} -
  <span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span> - Theme by <a href="http://alexgaribay.com">Alex Garibay</a> Hosted by <a href="http://github.com" target="_BLANK">GitHub</a> 
  <br/>
  <div style="text-align: center;">
  	<a href="http://planet.sofiavalley.com/" target="_BLANK">
  		<img src="https://2.gravatar.com/avatar/1f7785f4f6ead44826cab850fa447351?d=https%3A%2F%2Fidentiscons.github.com%2F69e88b213e91b67d3cf0ea69c26e81aa.png&r=x&s=50" ALT="Planet Sofia Valley">
  </a>
</p>
</div>
